.items{
    max-width: 300px;
    padding: 1rem;
    background: white;
    border-radius: 1rem;

}
.flex{
    padding: 1rem;
    max-width: 70rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.img img{
    width: 100%;
}